section, header, footer, h1, svg {
  margin-left: auto;
  margin-right: auto; }

body {
  font-family: "Program OT", Arial, sans-serif;
  font-size: 1.28rem; }

section, header, footer {
  padding: 2rem; }

h1 {
  font-size: 2rem; }

li {
  margin: 1rem; }

svg {
  padding: 0;
  margin: 0; }
