section, header, footer, li, svg {
  margin-left: auto;
  margin-right: auto; }

body {
  font-family: "Program OT", Arial, sans-serif;
  font-size: 1.28rem; }

section, header, footer {
  padding: 1.5rem; }

h1 {
  text-align: center;
  font-size: 2rem; }

li {
  margin: 1rem;
  width: 80%; }
  li img {
    width: auto; }

svg {
  display: block;
  padding: 0;
  margin: 0; }
